@model IEnumerable<NGO_Zerohunger.Models.restaurant>

@{
    ViewBag.Title = "Restaurants";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Restaurants</h2>

<p>
    @Html.ActionLink("Create New", "AddRestaurants", "Admin", new { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Restaurant Name")
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
        <th>
            @Html.DisplayName("Contact number")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.restaurant_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact_number)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRestaurant", "Admin", new { id = item.restaurant_id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Password", "ResPass","Admin", new { id = item.restaurant_id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "DeleteRestaurant","Admin", new { id = item.restaurant_id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
